html{
    height: 100%;
}
body{
    height: 100%;
}


.col {
    background: url(truebg.jpg) 100% 100%;
    padding-left: 0rem;
}
.card-body {
    font-weight: 600;
    margin-top: 0.2rem;
    background: #f3f2f1;
    border: 1px solid #cccccc;
    padding: 0.5rem;
    margin-left: 1rem;
}
.container {
    height: 94%;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}
.container-fluid {
    height: 94%;
    max-width: 100%;
    padding-right: 0rem;
    padding-left: 0rem;
}
.col-md-3 {
    background: #f3f2f1;
    padding-right: 0;
    padding-left: 0rem;
    width: 15%;
}
.list-group-item {
    background: #f3f2f1;
    border: 0;
    padding-left: 2rem;
}
.badge{
    position: absolute;
    right: 5%;
    top: 25%;
}
.row {
    height: 100%;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0rem;
    padding-right: 0rem;
}
.navbar{
    height: 6%;
}

.navbar-brand {
    padding-left: 1.5rem;
}
.navbar-text {
    padding-right: 1.5rem;
}
.form-check-label {
    margin-top: 0;
    margin-bottom: 0;


div.text:hover {
  color: black;
  background: #e6e6e6;
}
a{
    text-decoration: None;
    color: black;
}
.rightbar {
    background: white;
    margin-top: 1rem;
}
.col-md-9 {
    padding-left: 0rem;
}
.mb-3 {
    margin-left: 1rem;
    margin-top: 2rem;
}
.form-control {
    font-weight: 600;
    background-color: black ;
    border: 0;
}
::placeholder {
    color: yellow;
    opacity: 0;
}

